<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Kantar VLD</title>
<link href="css/estilos.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="wrap">
	<header>
    	<div class="logo"><a href="index.cl"><img src="img/logo-kantar.png" width="191" height="21" title="Kantar VLD"></a></div>
    </header>
    
    <div class="contenedor_general">
    	<nav>
        	<ul>
           	  <li class="active"><a href="#">Liberador de Bases</a></li>
                <li><a href="#">Work Flow</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="#">KPI's</a></li>
                <li><a href="#">Mantenedor</a></li>
        	</ul>
        </nav>
        
        <hr></hr>
        
  <div class="controles_fila">
        	<div class="control">
            	<div class="tit_control"><p>País</p></div>
                <div class="llama_pais"><p>Chile</p></div>
   	  		</div>
            
            <div class="control">
            	<div class="tit_control"><p>Base</p></div>
                <div class="llama_base"><p>Nestlé</p></div>
        	</div>
            
            
            <div class="control">
            	<div class="tit_control"><p>Fecha</p></div>
                <div class="llama_periodo_actual"><p>12 - 2014</p></div>
        	</div>
            
      </div>
        
   	  <!--<div class="caja_login">
        <div class="caja_titulo"><h1>Bienvenido a Kantar VLD</h1></div>
        	<form>
            <input id="correo" name="" type="text" placeholder="Ingesa tu correo">
            <input id="pass" name="" type="text" placeholder="Ingesa tu password">
            <input id="iniciar" name="enviar" type="submit" value="Iniciar Sesión">
            </form>
        </div>-->
        
        
        <hr></hr>
    	
        <div class="caja_titulo"><p>Resultado General</p></div><div class="caja_titulo2"><p>Consistencia Interna</p></div>
            
            <div class="caja_tablas">
                <table id="polizas">            
                  <tr>
                    <th scope="col">Nomenclatura</th>
                    <th scope="col">Tipo Nom.</th>
                    <th scope="col">Diferencias</th>
                    <th scope="col">Detalles</th>
                  </tr>
                  <tr class="alternar">
                    <td>Nomenclatura A</td>
                    <td>IT2</td>
                    <td>250</td>
                    <td><a href="#">Ver más</a></td>
                  </tr>
                  <tr>
                    <td>Nomenclatura B</td>
                    <td>IT2</td>
                    <td>250</td>
                    <td><a href="#">Ver más</a></td>
                  </tr>
                  <tr class="alternar">
                    <td>Nomenclatura C</td>
                    <td>IT0</td>
                    <td>278</td>
                    <td><a href="#">Ver más</a></td>
                  </tr>
                </table>
            </div>
        
        <hr></hr>
        
        <div class="caja_final">
            <div class="inferior_home">
                <form>
                    <input id="validar" name="enviar" type="submit" value="Validar">
                    <input id="volver" name="enviar" type="submit" value="Volver">
                </form>
                
                <div class="excel"><a href="#"><img src="img/excel-icon.png" width="26" height="28" title="Descarga archivo Excel"></a></div>
                
            </div>
            <div class="kantar_world"></div>
        </div>
    
    </div>
    
</div>

<footer>
	<div class="caja_text">
    	<h2>Kantar Worldpanel ® 2015</h2>
        <h3>Sistema Kantar de Validación y Liberación de Datos</h3>
    </div>
    
    <div class="caja_link"><p><a href="#">&raquo; Envío de ticket para soporte y ayuda.</a></p></div>
</footer>

</body>
</html>
