<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Kantar VLD</title>
<link href="css/estilos.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="wrap">
	<header>
    	<div class="logo"><a href="index.cl"><img src="img/logo-kantar.png" width="191" height="21" title="Kantar VLD"></a></div>
    </header>
    
    <div class="contenedor_general">
    	<nav>
        	<ul>
           	  <li class="active"><a href="#">Liberador de Bases</a></li>
                <li><a href="#">Work Flow</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="#">KPI's</a></li>
                <li><a href="#">Mantenedor</a></li>
        	</ul>
        </nav>
        
        <hr></hr>
        
          <div class="controles_fila">
              <div class="control">
                  <div class="tit_control"><p>País</p></div>
                  <div class="llama_pais"><p>Chile</p></div>
              </div>
                    
                    <div class="control">
                        <div class="tit_control"><p>Período actual</p></div>
                        <div class="llama_periodo_actual"><p>12 - 2014</p></div>
                    </div>
                    
          </div>
                
          <div class="controles_fila">
                <div class="orden"><p>Seleccione nomenclatura e indique la correspondencia entre las marcas para ambos períodos:</p></div>
          </div>
          
          <div class="controles_fila">
            <div class="control">
                <div class="tit_control"><p>Nomenclatura</p></div>
                <div class="llama_nomenclatura"><p>Nomenclatura A</p></div>
            </div>
          </div>
        
        <hr></hr>
    
            <div class="caja_tabla_chica">
                <table id="polizas">            
                  <tr>
                    <th scope="col">Marca Período Actual</th>
                    <th scope="col">Marca Período Anterior</th>
                    <th scope="col">Seleccione</th>
                  </tr>
                  <tr class="alternar">
                    <td>Marca A</td>
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                  <tr>
                    <td>Marca A</td>
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                  <tr class="alternar">
                    <td>Marca A</td>
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                  <tr>
                    <td>Marca A</td>
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                </table>
            
            	<div class="caja_botones">
                    <form>
                        <input id="validar_pag1" name="enviar" type="submit" value="Validar">
                    </form>
            	</div>
            </div>
            
            <div class="caja_boton_b">
                    <form>
                        <input id="validar_pag1" name="enviar" type="submit" value="Asignar">
                    </form>
            	</div>
            
            <div class="caja_tabla_chica_b">
                <table id="polizas">            
                  <tr>
                    <th scope="col">Marca Período Anterior</th>
                    <th scope="col">Seleccione</th>
                  </tr>
                  <tr class="alternar">
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                  <tr>
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                  <tr class="alternar">
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                  <tr>
                    <td>Marca AA</td>
                    <td><input id="check" name="" type="checkbox" value=""></td>
                  </tr>
                </table>
                
            </div>
            
        <hr></hr>
        
        <div class="caja_final">
            
            <div class="kantar_world"></div>
        </div>
    
    </div>
    
</div>

<footer>
	<div class="caja_text">
    	<h2>Kantar Worldpanel ® 2015</h2>
        <h3>Sistema Kantar de Validación y Liberación de Datos</h3>
    </div>
    
    <div class="caja_link"><p><a href="#">&raquo; Envío de ticket para soporte y ayuda.</a></p></div>
</footer>

</body>
</html>
